*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Hp;
    src: url(fonts/NUEVAS/harry_p/HARRYP__.TTF);
}

@font-face {
    font-family:'simps';
    src: url(fonts/NUEVAS/simpsonfont/Simpsonfont\ DEMO.otf);
}

.contenedor{
    /* width: 80%;
    margin: auto;
    padding: 2rem; */
    text-align: center;
    padding: 2rem;
}
hr{
    border-top: transparent;
    border-bottom: 5px double black;
    margin-bottom: 1rem;
}

/* .contenedor img{
    width: 70%; 
    border-radius: 1rem;
} */

.principalsimp{
        background:linear-gradient(to bottom, #ff99c8, #f6aa1c, #623f07, #f9dea9, #e664bcdf)
}


.principalHp{
    background: linear-gradient(152deg, #981900, #a89139, #325e11, #11195ed6, #c22f12);
}
.tituloSimps{
    font-family: 'simps', sans-serif;
    color: rgb(209, 209, 35);
    text-align: left;
    font-size: xx-large;
    margin-bottom: 1rem;

}

.tituloHp{
    text-align: center;
    font-family: 'Hp', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p{
    margin: 2rem 0;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.psimps{
    font-family: 'simps', sans-serif;
}

.pHarry{ 
    font-family: 'Hp', sans-serif;

}

.btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 2rem;
    border: 2px solid black;
    border-radius: .5rem;
    margin-top: 1rem;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.623);
}

.imgGaleria{
    display: inline-block;
    width: 100%;
    
}

img{
    width: 100%;
    height: 800px;
    object-fit: cover;
    border-radius: 1rem;
    border: 4px solid black;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.623);
}